<html>
<head>
<title>Device Exploration Framework</title>
<style type="text/css">@import url('styles.css');</style>
</head>
<body>
<h1>Device Exploration Framework</h1>
<ul>
<li><a href="/documents.html">View "Documents" directory contents on device</a></li>
<li><a href="/logs.html">View log files on device</a></li>
<li><a href="/socket.html">View logging in real time</a></li>
</ul>
	<!--
	<form name="form1" id="form1" action="post.html" method="post" enctype="multipart/form-data">
		Select File : <input type="File" name="uploadedfile" id="uploadedfile"><br/>
			<input type="submit" value="Upload">
	</form>
	 -->
</body>
</html>